#cardDoador {
    width: 90%;
}


#cardDoador .cards {
    border: 1px solid rgba(156, 156, 156, 0.20);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 7px 4px 4px 2px rgba(0, 0, 0, 0.25);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;

    transition: .35s;
    cursor: pointer;
}

#cardDoador .cards img {
    width: 100%;
}

#cardDoador .cards h4 {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    padding: 9px 0;
}

#cardDoador .cards p {
    font-size: 12px;
}

#cardDoador .WrapperCard {
    width: 100%;
}

#cardDoador .Descriocaocards {
    display: flex;

}

#cardDoador .Descriocaocards>div {
    display: flex;
    flex-direction: column;
    padding: 0 0 50px 5px;
}

#cardDoador .card_Status {
    display: flex;
    justify-content: start;
    align-items: center;
}

#cardDoador .circle_Status {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 10px;
}

#cardDoador .circle_Yellow {
    background: #F8BD00;
}

#cardDoador .circle_Orange {
    background: #ED7016;
}

#cardDoador .card_Status span {
    padding-left: 5px;
    font-weight: 600;
}

#cardDoador .iconesCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    width: 100%;
}