#login .sessao_formulario_login {
    display: flex;
    margin: 50px 100px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#login .campo-form{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 1rem;
    
}

#login .formulario_cadastro,
#login .formulario_login {
    max-width: 500px;
    width: 100%;
    height: 600px;
    background-color: var(--cinza2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 50px 10px;
    padding-top: 50px;
}

#login h2 {
    margin-bottom: 25px;
    font-size: 1.6rem;
    text-align: center;
    font-family: var(--font1);
}

#login .formulario_botao {
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font1);
    color: var(--roxo);
    border: 3px solid var(--roxo);
    margin: 20px 0 40px 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 55px;
    transition: 0.35s;
    background: #e4e2e2
}

#login .formulario_login .formulario_botao{
    margin-top: 30px;
    padding: 5px 72px;
}


#login .formulario_botao:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: var(--roxo);

}
#login input {
    width: 100%;
    height: 30px;
    border: 1px solid var(--cinza);
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 9px;
    font-family: var(--font2);
}

#login .opcao {
    width: 90%;
    max-width: 350px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

#login .opcao_doador,
#login .opcao_coletor {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#login #coletor,
#login #doador {
   width: 15px;
   height: 15px;
   border: none;
   box-shadow: none;
   margin-right: 5px;
}


/* ### RESPONSIVIDADE ### */




@media screen and (max-width: 580px) {
    #login .sessao_formulario_login {
        margin: 20px 10px;
    }

    #login .formulario_login a {
        width: 70%;
        font-size: 14px;
        margin: 20px 0 40px 0;
        padding: 5px 15px;
        justify-content: space-around;
    }
}

@media screen and (max-width: 532px) {
    #login .formulario_botao {
        min-width: 125px;
    }

    #login .formulario_cadastro h2,
    #login .formulario_login h2 {
        padding: 0 7px;
        text-align: center;
    }
}

@media screen and (max-width: 435px) {

    #login .formulario_login>h2,
    #login .formulario_cadastro>h2 {
        font-size: 22px;
    }

    #login .formulario_login a {
        text-align: center;
    }

    #login main label {
        font-size: 14px;
    }

    #login input::placeholder {
        font-size: 12px;
    }

    #login .formulario_login a {
        width: 65%;
    }

}

@media screen and (max-width: 375px) {
    #login .formulario_login>h2 {
        width: 190px;
    }

    #login .formulario_cadastro>h2 {
        width: 192px;
    }

    #login .formulario_login>a>img {
        width: 25px;
        height: 25px;

    }

    #login .formulario_login>a {
        padding: 5px 10px;
    }

    #login .formulario_botao {
        min-width: 125px;
    }

    #login .formulario_botao {
        font-size: 14px;
    }

    #login .opcao {
        flex-direction: column;
        width: auto;

    }

    #login .opcao>div:nth-child(1) {
        margin-bottom: 5px;
    }
}