#mainQueroDoarParte1 .conteudo_doacoes{
    display: grid;
    column-gap: 3rem;
    grid-template-columns: minmax(238px,0.25fr) 1fr;
    padding: 60px 0;
}

#mainQueroDoarParte1 .menu_Direito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}



#mainQueroDoarParte1  .title{
    padding-bottom: 40px;
}

.title h2{
    font-family: var(--font2);
    font-size: 2rem;
    text-transform: capitalize;
}

.title p{
    font-family: var(--font2);
    font-size: 1rem;
    color: var(--cinza);
}



#mainQueroDoarParte1  .margem_Conteudo{
    border: 1px solid var(--cinza);
    border-radius: 20px;
    padding: 2rem 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
}

#mainQueroDoarParte1 .btnPublicar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
    
}

#mainQueroDoarParte1 .btnPublicar > a{
    border-radius: 15px;
    border: 4px solid var(--roxo);
    padding: 2px 35px;
    font-family: var(--font1);
    font-size: 18px;
    font-weight:800;
    text-transform: uppercase;
    color: var(--roxo);
    transition: .35s;
}

/* Seção da TAabela */

#mainQueroDoarParte1 table{
    width: 100%;
    margin: 10px 0 30px 0;
    border: 1px solid var(--cinza);
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;

}

#mainQueroDoarParte1 thead tr{
    background-color: var(--verde1);
    color: white;
    font-size: 18px;
    font-family: var(--font1);
    font-weight: 700;
}

#mainQueroDoarParte1 caption {
    font-size: 20px;
    font-family: var(--font1);
    font-weight: 700;
}

#mainQueroDoarParte1 caption, th {
    text-align: left;
}

#mainQueroDoarParte1 td:nth-child(2){
    text-align: initial;
    padding-left: 3.5rem;
}

#mainQueroDoarParte1 td:nth-child(3){
    text-align: end;
    padding-right: 1rem;
}



#mainQueroDoarParte1 tbody > tr:nth-child(odd) {
    background-color: #F2F2F7;
}



#mainQueroDoarParte1 tr {
    height: 40px;
}

#mainQueroDoarParte1 th, #mainQueroDoarParte1 tr, #mainQueroDoarParte1 td {
    border: none;
}

#mainQueroDoarParte1 .linha-mensagem td {
    text-align: center;
}

#mainQueroDoarParte1 caption, #mainQueroDoarParte1 th, #mainQueroDoarParte1 td {
    padding: 15px;
}


#mainQueroDoarParte1 .Conteudo{
    display: flex;
    justify-items: center;
    margin-bottom: 100px;
    
    border: 1px solid var(--cinza);
    border-radius: 15px;
    width: 100%;
    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#mainQueroDoarParte1 .conteudo_wrapper{
    margin: 1rem auto 0 auto ;
    width: 95%;
}

#mainQueroDoarParte1 h3{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font1);
    margin-bottom: 1.5rem;
}


#mainQueroDoarParte1 input, #mainQueroDoarParte1 select{
    width: 100%;
    height: 30px;
    border: 1px solid var(--cinza);
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 9px;
    font-family: var(--font2);
}

#mainQueroDoarParte1 label{
    font-family: var(--font1);
    font-weight: 700;
    font-size: 1rem;
}

#mainQueroDoarParte1 .campo-form{
    width: 100%;
    margin-bottom: 1rem;
}



#mainQueroDoarParte1 .camposDuplo{
    display: flex;
    gap: 2rem;
}

#mainQueroDoarParte1 .btnInserir{
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

#mainQueroDoarParte1 .btn_form{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

#mainQueroDoarParte1 .btn_form button{
    border: none;
    background-color:white;
    cursor: pointer;
    position: relative;
    transition: .25s;
}

#mainQueroDoarParte1 .btn_form button:hover{
    transform: scale(1.07);
}

#mainQueroDoarParte1 .btnPublicar button{
    border: 4px solid var(--roxo);
    color: var(--roxo);
    background-color:white;
    border-radius: 15px;
    padding: 2px 35px;
    font-family: var(--font1);
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: .35s;
}

#mainQueroDoarParte1 .btnPublicar button:hover,
#mainQueroDoarParte1 .btnPublicar > a:hover
{
    transform: scale(1.07);
    background-color: var(--roxo);
    color: white;
}


#mainQueroDoarParte1 .btnInserir img{
    padding: 7px;
    background: var(--verde1);
    width: 100%;
    height: 100%;
    border-radius: 0 3px 3px 0 ;
}

#mainQueroDoarParte1 .btnInserir span{
    padding: 0 7px;
    font-family: var(--font1);
    font-size: 16px;
}





/* Total de itens da tabela */

#mainQueroDoarParte1 .totalItens{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .2rem;
}

#mainQueroDoarParte1 .totalItens span{
    font-family: var(--font2);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

#mainQueroDoarParte1 .totalItens span:nth-child(1){
    padding: 0 2rem;
}

#mainQueroDoarParte1 .totalItens>div{
    display: flex;
    align-items: center;
    border: 1px solid var(--cinza);
    border-radius: 7px;
    padding: 17px 7px;
    background-color: #F2F2F7;
}

/* Secao de arquivos */

#mainQueroDoarParte1 .arquivos{
    display: flex;
    margin: 4rem 0;
    gap: 2rem;
}

#mainQueroDoarParte1 .adicionarFotos{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#mainQueroDoarParte1 .adicionarFotos>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 4;
}

#mainQueroDoarParte1 .adicionarFotos>label{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    font-family: var(--font1);
    font-size: 20px;
    color: white;
    background: var(--verde2);

    border:none;
    padding: 0;
    border-radius: 0 0 7px 7px;
    cursor: pointer;
}

#mainQueroDoarParte1 input[type="file"] {
    display: none;
}

#mainQueroDoarParte1 .alinhamentoImg{
    flex: 2;
    display: grid;
    row-gap: 2rem;
    column-gap: .2rem;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#mainQueroDoarParte1 .alinhamentoImg img{
    max-width: 115px;
    width: 100%;
    max-height: 115px;
}





/* ### Seção @Media ### */


@media screen and (max-width: 1072px) {
    #mainQueroDoarParte1 .conteudo_doacoes{

        column-gap: 1rem;
        grid-template-columns: minmax(210px,0.15fr) 1fr;
        /* padding: 60px 0; */
    }


    #mainQueroDoarParte1 .title{
        padding-bottom: 30px;
    }
    
    #mainQueroDoarParte1 .title h2{
        font-size: 1.6rem;
    }
    
    #mainQueroDoarParte1 .title p{
        font-size: 0.8rem;
    }

    
    #mainQueroDoarParte1 .btnPublicar > a{
        font-size: 15px;
    }   
}

@media screen and (max-width: 812px) {  
    #mainQueroDoarParte1 .Conteudo{
        grid-template-columns: repeat(1, 1fr);
        /* justify-items: center; */
        row-gap: 3rem;
    }
    
    .wrapper{
        width: 95%;
    }

}


@media screen and (max-width: 580px) {
    #mainQueroDoarParte1  .conteudo_doacoes{
        padding: 25px 0;
        column-gap: 0.5rem;
        grid-template-columns: minmax(188px,0.15fr) 1fr;
        grid-template-rows: 100px 1fr;
    }

    #mainQueroDoarParte1 .menu_Direito{
        grid-column: 1/3;
        grid-row: 2/4;
        align-items: center;
    }

    #mainQueroDoarParte1 .title{
        padding-top: 25px;
        text-align: center;
    }
    
}




