#mainMinhasDoacoes .Conteudo_Sacola,
#mainDoacoesFinalizadas .Conteudo_Sacola {
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: var(--font2);
    font-size: 40px;
    text-align: center;
    color: var(--cinza);
    font-weight: 900;
    padding: 200px 100px 60px 100px;
}

#mainMinhasDoacoes .imgCadeado,
#mainDoacoesFinalizadas .imgCadeado {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

/* ### Seção @Media ### */
@media screen and (max-width: 812px) {
#mainMinhasDoacoes .Conteudo_Sacola,
#mainDoacoesFinalizadas .Conteudo_Sacola {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 5rem;
        margin-bottom: 100px;
        font-size: 35px;
        padding: 100px 100px 50px 100px;
    }

#mainMinhasDoacoes .imgCadeado,
#mainDoacoesFinalizadas .imgCadeado {
        width: 90%;
        align-self: center;
    }

#mainMinhasDoacoes .imgCadeado>img,
#mainDoacoesFinalizadas .imgCadeado>img {
        width: 30%;
    }

}

@media screen and (max-width: 727px) {
#mainMinhasDoacoes .Conteudo_Sacola,
#mainDoacoesFinalizadas .Conteudo_Sacola {
        padding: 0;
        width: 180px;
        margin: 60px 0;
    }
}

@media screen and (max-width: 580px) {
    #mainMinhasDoacoes .Conteudo_Sacola,
#mainDoacoesFinalizadas .Conteudo_Sacola {
        width: 80%;
    }
}


