#mainEditarPerfilDoador .Conteudo {
    display: flex;
    justify-items: center;
    margin-bottom: 100px;
    border: 1px solid var(--cinza);
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1.5rem 2rem;
}

#mainEditarPerfilDoador .formulario {
    width: 90%;
    font-family: var(--font1);
}

#mainEditarPerfilDoador .formulario h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}




#mainEditarPerfilDoador .campo-form{
    width: 100%;
    margin-bottom: 1rem;
}

#mainEditarPerfilDoador .camposDuplo{
    display: flex;
    gap: 2rem;
}

#mainEditarPerfilDoador .camposDuplo .campo-form:nth-child(1){
    flex: 3;
}
#mainEditarPerfilDoador .camposDuplo .campo-form:nth-child(2){
    flex: 1;
}

#mainEditarPerfilDoador input, #mainEditarPerfilDoador select {
    width: 100%;
    height: 30px;
    border: 1px solid var(--cinza);
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 9px;
}

#mainEditarPerfilDoador .camposDuplo-cep {
    display: flex;
    align-items: flex-end;
    gap: .5rem;
}

#mainEditarPerfilDoador .buscarCep{
    width: 100%;
    max-width: 10rem;
    margin-bottom: .5rem;
    transition: .35s;
}

#mainEditarPerfilDoador .but_cep{
    width: 100%;
    max-width: 5rem;
    margin-bottom: .5rem;
    transition: .35s;
}

#mainEditarPerfilDoador .but_cep input{
    font-family: var(--font1);
    background: #f0f0f0;
    padding-right: 7px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

#mainEditarPerfilDoador .but_cep input:hover{
    cursor: pointer;
    border: 2px solid var(--verde2);
    transform: scale(1.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#mainEditarPerfilDoador .btnEditar button{
    border: 4px solid var(--roxo);
    color: var(--roxo);
    background-color:white;
    border-radius: 15px;
    padding: 0 35px;
    font-family: var(--font1);
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    transition: .35s;
    margin: 1rem 0;
}


#mainEditarPerfilDoador .btnEditar button:hover
{
    transform: scale(1.07);
    background-color: var(--roxo);
    color: white;
}


