#mainEditarPerfilColetor .conteudo_doacoes {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: minmax(238px, 0.25fr) 1fr;
    padding: 60px 0;
}

#mainEditarPerfilColetor .menu_Direito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}



#mainEditarPerfilColetor .title {
    padding-bottom: 40px;
}

#mainEditarPerfilColetor .title h2 {
    font-family: var(--font2);
    font-size: 2rem;
    text-transform: capitalize;
}

#mainEditarPerfilColetor .title p {
    font-family: var(--font2);
    font-size: 1rem;
    color: var(--cinza);
}



#mainEditarPerfilColetor .margem_Conteudo {
    border: 1px solid var(--cinza);
    border-radius: 20px;
    padding: 2rem 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
    width: 100%;
}

#mainEditarPerfilColetor .btnVoltar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;

}

#mainEditarPerfilColetor .btnVoltar>a {
    border-radius: 15px;
    border: 4px solid var(--roxo);
    padding: 2px 35px;
    font-family: var(--font1);
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}




#mainEditarPerfilColetor .Conteudo {
    display: flex;
    justify-items: center;
    margin-bottom: 100px;
}




#mainEditarPerfilColetor .nada_consta {
    border: 3px solid #9c9c9c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

#mainEditarPerfilColetor .nomeMarca {
    border-radius: 10px;
    padding-bottom: 30px;
}

#mainEditarPerfilColetor .nomeMarca label {
    display: flex;
    flex-direction: column;
    font-family: var(--font1);
    font-size: 20px;
}


/* ***VALIDAR*** */
#mainEditarPerfilColetor .nomeMarca input {
    width: 95%;
}

#mainEditarPerfilColetor .regiao {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    width: 100%;
}

#mainEditarPerfilColetor .regiao input {
    max-width: 820px;
    width: 60%;
}


#mainEditarPerfilColetor .selecao {
    border: 1px solid #9C9C9C;
    border-radius: 10px;

    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
}

#mainEditarPerfilColetor .cidade {
    width: 500px;
    border: 1px solid #9C9C9C;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
}

#mainEditarPerfilColetor .descricao {
    padding-bottom: 30px;
}

#mainEditarPerfilColetor .descricao label {
    font-family: var(--font1);
    font-size: 20px;
}

#mainEditarPerfilColetor .data {
    font-family: var(--font1);
    font-size: 20px;
    padding-bottom: 30px;
}

#mainEditarPerfilColetor .agendamento {
    padding-bottom: 30px;
}

#mainEditarPerfilColetor .horario {
    font-family: var(--font1);
    font-size: 20px;
    padding-bottom: 30px;
}

#mainEditarPerfilColetor .tipo {
    font-family: var(--font1);
    font-size: 20px;
}

#mainEditarPerfilColetor .tipoEletronico {
    padding-bottom: 30px;
}

#mainEditarPerfilColetor .celular .computador .monitor .perifericos .baterias .outros {
    font-family: var(--font2);
}

#mainEditarPerfilColetor .condicoes {
    font-family: var(--font1);
    font-size: 20px;
}

#mainEditarPerfilColetor .condicoesMateriais {
    padding-bottom: 30px;
}

#mainEditarPerfilColetor .qtdItens {
    font-family: var(--font1);
    font-size: 20px;
}

#mainEditarPerfilColetor .itens {
    padding-bottom: 30px;
}

#mainEditarPerfilColetor .arquivos {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

#mainEditarPerfilColetor .adicionarFotos {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #9c9c9c;
    border-radius: 20px;
}

#mainEditarPerfilColetor .arquivos img {
    max-width: 100%;
    max-height: 100%;
}

#mainEditarPerfilColetor .adicionarFotos button {
    height: 50px;
    width: 100%;
    border-radius: 0px 0px 18px 18px;
    border-end-end-radius: 0px 0px 18px 18px;
    background-color: #045328;
    font-family: var(--font2);
    font-size: 20px;
    color: var(--branco);
}


#mainEditarPerfilColetor .alinhamentoImg {
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    width: 542px;
    padding-left: 4%;
    border: 3px solid #9c9c9c;
    border-radius: 20px;
    flex-direction: row;
    display: grid;
    grid-template-columns: 33% 34% 38%;
    grid-auto-columns: 141%;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

#mainEditarPerfilColetor .alinhamentoImg img {
    justify-content: stretch;
    align-items: center;
}

#mainEditarPerfilColetor .botao {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#mainEditarPerfilColetor .btnSalvar {
    border: 5px solid #9319CC;
    border-radius: 15px;
    padding: 10px 150px;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font1);
    color: #9319CC;
}

#mainEditarPerfilColetor .btnCancelar {
    border: 5px solid #9319CC;
    border-radius: 15px;
    padding: 10px 150px;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font1);
    color: #9319CC;
}

#mainEditarPerfilColetor .input {
    border: 1px solid #9C9C9C;
    border-radius: 10px;
    width: 461px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
}

#mainEditarPerfilColetor textarea {
    border: 1px solid #9C9C9C;
    border-radius: 10px;
    width: 976px;
    height: 300px;
    font-family: var(--font2);
    font-size: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#mainEditarPerfilColetor input {
    font-family: var(--font2);
    font-size: 16px;
}

@media screen and (max-width: 1072px) {
    #mainEditarPerfilColetor.conteudo_doacoes {

        column-gap: 1rem;
        grid-template-columns: minmax(210px, 0.15fr) 1fr;
    }


    #mainEditarPerfilColetor .title {
        padding-bottom: 30px;
    }

    #mainEditarPerfilColetor .title h2 {
        font-size: 1.6rem;
    }

    #mainEditarPerfilColetor .title p {
        font-size: 0.8rem;
    }


    #mainEditarPerfilColetor .btnVoltar>a {
        font-size: 15px;
    }
}

/* @media screen and (max-width: 1010px) {

   

} */

@media screen and (max-width: 812px) {


    #mainEditarPerfilColetor .Conteudo {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3rem;
    }

    .wrapper {
        width: 95%;
    }

}

@media screen and (max-width: 655px) {
    #mainEditarPerfilColetor .conteudo_doacoes {
        column-gap: 0;
    }

    #mainEditarPerfilColetor .btnVoltar>a {
        width: 120px;
        text-align: center;
        font-size: 13px;
        padding: 0;
    }
}


@media screen and (max-width: 520px) {
    #mainEditarPerfilColetor .conteudo_doacoes {
        padding: 25px 0;
        column-gap: 0.5rem;
        grid-template-columns: minmax(188px, 0.15fr) 1fr;
        grid-template-rows: 100px 1fr;
    }

    #mainEditarPerfilColetor .menu_Direito {
        grid-column: 1/3;
        grid-row: 2/4;
        align-items: center;
    }

    #mainEditarPerfilColetor .title {
        padding-top: 25px;
        text-align: center;
    }
}